<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696127665104-9k2iho17o59c18erb0ikm3emu3mhshjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696127665104-9k2iho17o59c18erb0ikm3emu3mhshjc</string>
	<key>API_KEY</key>
	<string>AIzaSyAD4hfqbXYusg2N5OJNuxqW8grHGVrsqUc</string>
	<key>GCM_SENDER_ID</key>
	<string>696127665104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acelucid.meetup.meetUp</string>
	<key>PROJECT_ID</key>
	<string>meet-up-c3183</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-up-c3183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696127665104:ios:b85fffd2bd20b85e207fd5</string>
</dict>
</plist>